version: '3.8'

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    networks:
      Server:
        ipv4_address: ${IPV4_ADDRESS}
        mac_address: ${MAC_ADDRESS}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./root/Caddyfile:/etc/caddy/Caddyfile:ro
      - data:/data
      - config:/config
    environment:
      - TZ=Europe/Berlin

volumes:
  data:
  config:

networks:
  Server:
    external:
      name: Server
