services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    environment:
      - TZ=Europe/Berlin
      - GITEA__server__ROOT_URL=http://192.168.20.11:30080/
      - GITEA__server__HTTP_PORT=30080
      - GITEA__server__SSH_PORT=30022
    expose:
      - "30080"
    volumes:
      - gitea-data:/data
volumes:
  gitea-data: