version: "3.9"

services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    networks:
      Server:
        ipv4_address: ${IPV4_ADDRESS}
        mac_address: ${MAC_ADDRESS}
      intra: {}
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    environment:
      - TZ=Europe/Berlin
      # Passe ROOT_URL auf die macvlan-IP an:
      - GITEA__server__ROOT_URL=http://${HOSTNAME}:80/
      - GITEA__server__HTTP_PORT=80
      - GITEA__server__SSH_DOMAIN=${HOSTNAME}
      - GITEA__server__DOMAIN=${HOSTNAME}
      - GITEA__server__SSH_PORT=22
    ports:
      - "3000:80"   # HTTP UI
      - "22:22"   # Git per SSH
    volumes:
      - gitea-data:/data
networks:
  Server:
    external:
      name: Server
  intra:
    driver: bridge
volumes:
  gitea-data: