services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - arr_media:/media:rw  # Pfad zu deiner Medienbibliothek (anpassen)
    environment:
      - TZ=Europe/Berlin
    networks:
      Server:
        ipv4_address: ${IPV4_ADDRESS}
        mac_address: ${MAC_ADDRESS}
      internal: {}

volumes:
  jellyfin_config:
  jellyfin_cache:

  arr_media:
    external: true
    name: arr_media

networks:
  Server:
    external:
      name: Server
  internal:
    external:
      name: internal

