version: '3'
services:
  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower:latest
    command:
      - --cleanup=true
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock